@import url("https://fonts.googleapis.com/css2?family=Jomhuria&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

/* Estilização Global */
#root {
  @apply text-center text-white;
}

body {
  background-color: var(--color-primary);
  color: black;
}

/* Dashboard Geral */
.dashboard-container {
  background-color: var(--color-primary);
  min-height: 100vh;
}

/* Sidebar - Desktop */
.jomhuria-regular {
  font-family: "Jomhuria", serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.sidebar {
  @apply w-full fixed top-0 left-0 p-2 z-50 transition-all duration-300 overflow-hidden flex align-middle justify-between lg:h-30;
  height: 80px;
}

.sidebar-nav {
  @apply flex-1 align-middle justify-around hidden xl:flex  sm:hidden text-center;
}


/* Sidebar - Mobile */
@media (max-width: 640px) {
  .sidebar {
    height: 100px;
  }
}

/* Títulos e Links Sidebar */
.sidebar-title {
  @apply text-white font-semibold text-lg hidden sm:block text-center mb-4;
}

.sidebar-link {
  @apply text-white hover:text-gray-300 transition-colors text-center flex justify-center align-middle;
}

/* Conteúdo Principal */
.main-content {
  @apply w-[85%] mx-auto p-5 pt-[80px] sm:ml-16;
}

a {
  @apply font-bold text-2xl;
}
/* Grid de Cards */
.grid-container {
  @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10 p-10;
}

.card {
  @apply bg-white rounded-lg p-5 min-h-[200px] shadow-md transition-transform duration-200 hover:-translate-y-[5px];
}

.card-text {
  @apply text-gray-700 font-medium;
}

/* Campos de preenchimento*/

/* Container */
.container {
  @apply flex flex-col items-center justify-center min-h-screen ml-auto mr-auto;
}

/* Login Box */
.login-box {
  @apply bg-white p-8 rounded-lg w-full max-w-md shadow-lg;
}

/* Logo */
.logo {
  @apply text-center mb-8;
}

.logo img {
  @apply size-15 mx-auto;
}

/* Form */
.form {
  @apply flex flex-col gap-4;
}

/* Input */
.input {
  @apply p-3 border text-black  border-gray-300 rounded-md text-lg w-full focus:outline-none focus:border-teal-500;
}

/* Button */
.button {
  @apply text-white p-3 rounded-md text-lg cursor-pointer transition-colors duration-200;
  background-color: var(--color-primary);
}

.button-cadastrar {
  @apply w-[35%] h-20 bottom-30 xl:right-1/8 bg-blue-700 hover:bg-blue-950 text-white p-3 rounded-md text-6xl cursor-pointer transition-colors duration-200;
}

.button:hover {
  background-color: var(--color-secondary);
}

th{
  @apply border border-gray-300
}
td{
  @apply px-6 py-4 border border-gray-300;
}
